
<header>
<h2>TinyApp</h2>
<body style="font-size:20px; padding:20px;">
    <% if (typeof user !== "undefined")  {%> 
        <div style="">Welcome, <br>
        <%=user.email%> </div>
        <div>
            <form method = "post" action="/logout">
                <input type = "submit" value = "Logout">
            </form>
        </div>
        <% } else { %>
            <a href="/login">Login</a> |
            <a href="/register">Register</a> 
            <% }%>
            
</header>
