
<html lang="en">
<head></head>
  <body style="font-size:20px; padding:50px;">
  <% include ./partials/_header.ejs %>
      <header>TinyApp</header>
      <h2>Registeration Form</h2>

            <form action="/register" method="POST" style="margin:150px;">
                    <input type="email" name="email" placeholder="JohnDoe@tinyapp.com" style="width: 300px">
                    <input id="password" name="password" placeholder="Create Password" style="width: 300px">
                <button type="submit">submit</button>
            </form>
  
            
    </body>



</html>



