<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h2>Tiny App </h2>
    <% include ./partials/_header.ejs %>
    <body style="font-size:20px; padding:20px;">
        <ul> 
            <% for (let urlKey in urls) { %>
            
                <li>
                    <%= urlKey %> -
                    <%= urls[urlKey].longUrl%>

                    <a href="/urls/<%= urlKey %>">
                        <button type="submit">Edit Me!</button>
                    </a>

                    <form method="POST" action="/urls/<%= urlKey %>/delete">
                        <button type="submit">Delete Me!</button> <!---w2d3 task Exercise-->
                    </form>
                </li>
            <% }; %>
        </ul>
        <% if (typeof user !== "undefined")  {%> 
        <a href='/urls/new'>Add New link </a> 
        <% } else { %>
            <div>____________________________________</div>
            <div style="padding-top:10px;">Please Login or Register <br> - You must be logged in to view the list of URLs</div></table>
            <div>____________________________________</div>
        <%}%>

</body>


</html>
