<!DOCTYPE html>
<html lang="en">

    <% include ./partials/_header.ejs %>

    <body style="font-size:20px; padding:50px;">

        <header>TinyApp</header>
            <form action="/urls/<%=shortUrl%>/update" method="POST" style="margin:150px;">
                <input 
                id="longURL" 
                type="text" 
                name="longURLChangedName" 
                value= "<%longUrl%>"
                placeholder="http://" 
                style="width: 300px"><button type="edit">Submit Changes</button>
            </form>
    </body>
</html>





