<% include ./partials/_header %>

<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <header>TinyApp</header>

    <form action="long/edit" method="POST" style="margin:150px;">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <button type="/edit">Create your URL</button>
    </form>
  </body>
</html>





