<!DOCTYPE html>
<html lang="en">
    <% include ./partials/_header.ejs %>
    <body style="font-size:20px; padding:50px;">
            <form action="/urls/<%=shortUrl%>/update" method="POST" style="margin:150px;">
            <p> ShortUrl :<%=shortUrl%> </p>   
            <input 
                id="longURL" 
                type="text" 
                name="longURL" 
                value= "<%longUrl%>"
                placeholder="http://" 
                style="width: 300px"><button type="edit">Submit Changes</button>
            </form>
    </body>
</html>
